<ng-template let-row="row" let-value="value" #nameTemplate
	><a [routerLink]="row.id"
		><strong>{{ value }}</strong></a
	></ng-template
>
<ng-template let-row="row" let-value="value" #shipTemplate
	><a *ngIf="row.ship" [routerLink]="['../fleet', row.ship.id]"
		><strong>{{ value }}</strong></a
	><span *ngIf="!row.ship">Unknown</span></ng-template
>
<div class="boxed">
	<h1>Personnel database</h1>
	<app-table
		[rows]="persons"
		[columns]="columns"
		[filterFunction]="filterFunction"
		[externalPaging]="true"
		[count]="totalRows"
		[offset]="page - 1"
		[limit]="pageSize"
		[setPage]="setPage"
	></app-table>
</div>
