table {
	width: 100%;
	padding-right: 15px;
}

tbody > tr:nth-child(odd) {
	background: #eee;
}

td {
	padding: 6px;
}

.filter-container {
	margin-bottom: 15px;

	.filter-items {
		display: flex;
		flex-direction: row;

		div {
			flex: 1;

			label {
				margin-bottom: 4px;
				font-size: 1.0em;
				font-weight: bold;
			}

			input {
				display: block;
				width: 100%;
			}
		}
		// div:not(:last-child) {
		div {
			margin-right: 25px;
		}
	}
}

@media screen and (max-width: 1425px) {
	.table-container {
		font-size: 1em;
	}
}
