<ng-template let-row="row" let-value="value" #nameTemplate
	><a [routerLink]="row.id"
		><strong>{{ value }}</strong></a
	></ng-template
>
<ng-template let-row="row" let-value="value" #shipTemplate
	><a *ngIf="row.ship" [routerLink]="['../fleet', row.ship.id]"
		><strong>{{ value }}</strong></a
	><span *ngIf="!row.ship">Unknown / None</span></ng-template
>
<div class="boxed table-container" (window:resize)="onResize()" #tableContainer>
	<h1>Personnel database</h1>
	<div class="filter-container dark-bg">
		<h2>Filters</h2>
		<div class="filter-items">
			<div>
				<label>Name</label>
				<input
					type="text"
					(keyup)="onNameFilterChangeDebounce($event)"
					[(ngModel)]="filterValues['name']"
				/>
			</div>
			<div *ngFor="let filterCollection of filters">
				<label>{{ filterCollection.name }}</label>
				<ng-select
					[items]="filterCollection.items"
					[searchable]="true"
					[clearable]="true"
					bindLabel="name"
					bindValue="value"
					[(ngModel)]="filterValues[filterCollection.key]"
					(change)="onFilterChange(filterCollection.key, $event)"
				>
				</ng-select>
			</div>
		</div>
	</div>
	<app-table
		[rows]="persons"
		[columns]="columns"
		[externalPaging]="true"
		[count]="totalRows"
		[offset]="page - 1"
		[limit]="pageSize"
		[setPage]="setPage"
	></app-table>
</div>
