<div class="boxed">
	<h1>
		<button type="button" class="back-button" (click)="navigateBack()">
			&lt; Back</button
		><span>Ship details</span>
	</h1>
	<div *ngIf="ship && ship.is_visible" class="dark-bg">
		<h2>{{ ship.name }}</h2>
		<p>Status: {{ ship.status }}</p>
		<p>Class: {{ ship.class }}</p>
		<p>Type: {{ ship.type }}</p>
		<p *ngIf="ship.description">Description: {{ ship.description }}</p>
		<p>Fighter count: {{ ship.fighter_count || 0 }}</p>
		<p>Transporter count: {{ ship.transporter_count || 0 }}</p>
		<p>Souls on board: {{ ship.person_count || 'Unknown' }}</p>
		<p>Current position: {{ ship.position.name }}</p>
	</div>
</div>
