<div *ngIf="velianState && velianState.hackingComplete">
	<div class="log-wrapper">
		<button (click)="openCaptainsLogDialog()">VIEW CAPTAIN'S LOG</button>
	</div>
	<div class="distress-signal-wrapper">
		<div>
			<h2 *ngIf="!velianState.hasSentSignal">SEND A DISTRESS SIGNAL</h2>
			<textarea
				*ngIf="!velianState.hasSentSignal"
				placeholder="Message"
				[(ngModel)]="distressSignal"
				trim="blur"
			></textarea>
			<button
				[disabled]="!velianState.canSendSignal || velianState.hasSentSignal"
				[ngClass]="{ success: velianState.hasSentSignal }"
				(click)="openConfirmationDialog()"
			>
				{{
					velianState.hasSentSignal
						? 'DISTRESS SIGNAL HAS BEEN SENT'
						: 'SEND DISTRESS SIGNAL'
				}}
			</button>
		</div>
	</div>
</div>
<app-hacking
	*ngIf="velianState && !velianState.hackingComplete"
	[onCompletion]="onCompleteHacking"
></app-hacking>
