@import '../../../variables';

.log-wrapper {
	position: fixed;
	top: 50px;
	left: 50px;

	button {
		font-size: 2em;
		padding-right: 30px;
		padding-left: 30px;
	}
}

.distress-signal-wrapper {
	position: fixed;
	bottom: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		display: flex;
		flex-direction: column;

		h2 {
			font-size: 2em;
			text-align: center;
		}

		textarea {
			resize: none;
			font-size: 1.1em;
			padding: 12px;
			min-width: 500px;
			min-height: 300px;
		}

		button {
			margin-top: 12px;
			font-size: 1.3em;
		}

		button:disabled {
			box-shadow: none;
			border: 2px solid #a70000;
		}
		button:disabled:hover {
			background: transparent;
		}

		button.success,
		button.success:disabled {
			border: 2px solid #00a72a;
			box-shadow: 0px 0px 10px rgba(2, 246, 254, 0.2);
		}
	}
}

@keyframes blinker {
	50% {
		color: #c20000;
	}
}
