<div class="boxed">
	<h1>Create a new vote</h1>
	<div class="dark-bg">
		<p>
			Enter your vote details below. After submitting your vote, it will be sent
			for approval.
		</p>
		<form [formGroup]="voteForm" (ngSubmit)="onFormSubmit()">
			<label>Title</label>
			<input type="text" formControlName="title" trim="blur" />
			<label>Active time</label>
			<ng-select
				formControlName="duration_minutes"
				[items]="voteDurations"
				[searchable]="false"
				[clearable]="false"
				bindLabel="text"
				bindValue="value"
			>
			</ng-select>
			<label>Limit voting rights to</label>
			<ng-select
				formControlName="allowed_voters"
				[items]="voteFilters"
				[searchable]="false"
				[clearable]="false"
				bindLabel="text"
				bindValue="value"
			>
			</ng-select>
			<label>Description</label>
			<textarea formControlName="description" trim="blur"></textarea>

			<div
				*ngFor="
					let option of voteForm.get('options')['controls'];
					let i = index
				"
			>
				<label>Vote option #{{ i + 1 }} </label>
				<div class="vote-option-row">
					<input
						type="text"
						[formControl]="option"
						trim="blur"
						placeholder="Vote option #{{ i + 1 }}"
					/><button type="button" (click)="removeOption(i)">Remove</button>
				</div>
			</div>

			<button type="button" class="add-option-button" (click)="addOption()">
				Add option
			</button>
			<button type="submit" class="create-vote-button">
				Submit for approval
			</button>
		</form>
	</div>
</div>
