@import '../../../variables';

.phone-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.phone-minimized {
	position: fixed;
	bottom: 6px;
	right: 6px;
	display: block;
	padding: 5px 15px;
	font-size: 0.8em;
	cursor: pointer;

	.minimized-status {
		color: $bright-yellow;
		font-weight: bold;
	}
	.minimized-status.white {
		color: #fff;
		font-weight: normal;
	}

	h2 {
		margin: 0;
	}

	div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		// align-items: center;

		.icon {
			width: 30px;
			height: 30px;
			margin-right: 16px;
		}
	}

	.call-status {
		flex-direction: column;
	}
}

.phone-minimized.has-hacking {
	right: 50px;
}

.phone-minimized.boxed {
	border: 1px solid #00c5c8;
	box-shadow: 0px 0px 5px #00c6c1;
	background: darken(#006466, 15);
	transition: box-shadow 0.2s;
	transition: background 0.2s;
}
.phone-minimized.boxed:hover {
	box-shadow: 0px 0px 10px #00c6c1;
	background: #006466;
}

h2 {
	margin-top: 0;
}

audio {
	display: none;
}

button {
	display: block;
	width: 100%;
}

.action-button {
	cursor: pointer;
	transition: background 0.15s;
	transition: box-shadow 0.15s;
	font-size: 1.8em;
}

button.hangup-call {
	color: $error-color;
	background: rgba($error-color, 0.1);
	box-shadow: 0px 0px 10px $error-color;
}
button.hangup-call:hover {
	background: rgba($error-color, 0.15);
	box-shadow: 0px 0px 10px lighten($error-color, 20);
}

button.answer-call {
	color: $success-color;
	background: rgba($success-color, 0.1);
	box-shadow: 0px 0px 10px $success-color;
}
button.answer-call:hover {
	background: rgba($success-color, 0.15);
	box-shadow: 0px 0px 10px lighten($success-color, 20);
}

.phone-overlay {
	background: rgba(0, 0, 0, 0.4);
	display: block;
	width: 100%;
	height: 100%;

	.phone-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.phone-content {
			position: relative;
			padding: 25px;
			min-width: 600px;
			text-align: center;

			.box-closer {
				top: 10px;
			}

			.contacts-caller-wrapper {
				display: flex;
				direction: row;

				.contacts,
				.caller {
					padding: 5px;
				}

				.contacts {
					flex: 2;
					text-align: center;

					button {
						display: block;
						width: 100%;
						margin-bottom: 10px;
						box-shadow: none;
						cursor: pointer;
					}
					button:hover {
						box-shadow: 0px 0px 10px $dark-blue;
						color: $bright-yellow;
					}
				}

				.caller {
					flex: 3;

					.call-buttons {
						display: flex;
						flex-direction: row;
						button {
							margin: 10px;
						}
					}
				}
			}
		}
	}
}

video {
	display: none;
}
