<div class="phone-overlay">
	<div class="phone-wrapper">
		<div class="phone-content boxed">
			<h1>Voice communications system</h1>
			<span class="box-closer link" (click)="this.closePhone()"></span>

			<div class="contacts-caller-wrapper">
				<div class="contacts">
					<button
						type="button"
						(click)="call(sipContact.id)"
						*ngFor="let sipContact of (sip.outgoingSipContacts$ | async)"
					>
						Call {{ sipContact.name }}
					</button>
				</div>
				<div class="caller">
					<div *ngIf="incomingCall">
						<h2>Incoming call from {{ incomingCall.contact.name }}</h2>
						<button (click)="sip.answerCall()" type="button">Answer</button>
						<button (click)="sip.hangUp()" type="button">Deny</button>
					</div>
					<div *ngIf="ongoingCall">
						<h2>On call with {{ ongoingCall.contact.name }}</h2>
						<button (click)="sip.hangUp()" type="button">Hang up</button>
					</div>
					<div *ngIf="outgoingCall">
						<h2>Calling {{ outgoingCall.contact.name }}...</h2>
						<button (click)="sip.hangUp()" type="button">Hang up</button>
					</div>
				</div>
			</div>

			<video #video></video> <audio controls="controls" #audio></audio>
		</div>
	</div>
</div>
