<div class="boxed">
	<h1>Vote details</h1>
	<div *ngIf="vote">
		<h2>
			{{ vote.title }} ({{ vote.is_active ? 'voting active' : 'voting ended' }})
		</h2>
		<h3>Initiated by {{ vote.author?.full_name }}</h3>
		<p *ngIf="vote.active_until">
			Voting is active until {{ vote.active_until }}
		</p>
		<p>{{ vote.description }}</p>
		<h3>
			Vote ({{ vote.entries.length }} total
			{{ pluralize('vote', vote.entries.length)
			}}<span *ngIf="vote.is_active"> so far</span>)
		</h3>
		<form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
			<ul>
				<li *ngFor="let option of vote.options">
					<input
						type="radio"
						[value]="option.id"
						id="option-{{ option.id }}"
						formControlName="option"
					/>
					<label for="option-{{ option.id }}"
						>{{ option.text }} ({{ getVoteCount(option.id) }})</label
					>
				</li>
			</ul>
			<button [disabled]="!voteForm.valid || submitting" *ngIf="vote.is_active">
				{{ userVoteEntry ? 'You have already voted' : 'Vote' }}
			</button>
		</form>
	</div>
</div>
