@import '../../../variables';

:host {
	color: #fff;
}

.container {
	position: relative;
}

// Adjust closer position because of dialog
.box-closer {
	top: -35px;
	right: -20px;
	font-size: 1.5em;
	transition: color $transition-ms;
}

.box-closer:hover {
	color: $bright-yellow !important;
}

h2.INFO-TITLE {
	color: lighten($info-color, 30%);
}
h2.WARNING-TITLE {
	color: lighten($warning-color, 30%);
}
h2.ERROR-TITLE {
	color: lighten($error-color, 30%);
}
h2.SUCCESS-TITLE {
	color: lighten($success-color, 30%);
}
