<div>
	<h1>Communications</h1>
	<h2>
		{{
			chatView.type === 'private'
				? chatView?.targetPerson?.full_name
				: '#' + chatView?.target
		}}
	</h2>
</div>
<div class="com-wrapper">
	<div class="messages" ngx-auto-scroll #chatMessages>
		<p *ngFor="let message of (message$ | async)">
			[{{ formatTimestamp(message.created_at) }}]
			<strong>{{ message.sender.full_name }}</strong
			>: {{ message.message }}
		</p>
	</div>
	<div class="user-list">
		<h2>Channels</h2>
		<ul>
			<li>
				<a
					routerLink="/communications/channel/general"
					routerLinkActive="active"
					>#general</a
				>
			</li>
			<li>
				<a
					routerLink="/communications/channel/engineers"
					routerLinkActive="active"
					>#engineers</a
				>
			</li>
			<li>
				<a routerLink="/communications/channel/medics" routerLinkActive="active"
					>#medics</a
				>
			</li>
		</ul>
		<h2>Users</h2>
		<form [formGroup]="filterForm">
			<input
				type="text"
				placeholder="Filter users"
				formControlName="userFilter"
			/>
		</form>
		<ul>
			<li *ngFor="let user of (users$ | async)">
				<a
					routerLink="/communications/private/{{ user.id }}"
					routerLinkActive="active"
				>
					{{ user.full_name }}<span *ngIf="user.is_online"> (online)</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="message-box">
		<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
			<input type="text" placeholder="Type here..." formControlName="message" />
			<button>Say</button>
		</form>
	</div>
</div>
