<div class="boxed">
	<div>
		<h1>Communications</h1>
		<!-- Show currentUser.status -->
		<div *ngIf="loggedInAsDeadNpc()" class="npc-is-dead-alert">
			‼️ The NPC you are logged in as is deceased. You can still use the
			messaging system if needed.
		</div>
		<h2 *ngIf="chatView.type === 'private'">
			Private messaging with {{ chatView?.targetPerson?.full_name }}
		</h2>
		<h2 *ngIf="isEmpty(chatView)">
			End-to-end encrypted private messaging system
		</h2>
	</div>
	<div class="com-wrapper">
		<div>
			<div class="messages" ngx-auto-scroll #chatMessages>
				<p class="message-content" *ngFor="let message of (message$ | async)">
					<span class="message-time"
						>[{{ formatTimestamp(message.created_at) }}]
					</span>
					<span class="message-sender">{{ message.sender.full_name }}</span
					>: {{ message.message }}
				</p>
				<p *ngIf="isEmpty(chatView)">
					// No contact selected<br /><br />
					// Select a contact to send a message
				</p>
			</div>
			<div class="message-box">
				<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
					<textarea
						rows="4"
						placeholder="Your message here..."
						formControlName="message"
						(keydown)="onKeyDown($event)"
						[ngClass]="{ 'alert-borders': loggedInAsDeadNpc() }"
					></textarea>
					<button [ngClass]="{ 'alert-borders': loggedInAsDeadNpc() }">
						Send
					</button>
				</form>
			</div>
		</div>
		<div class="user-list">
			<h2>Contacts</h2>
			<form [formGroup]="filterForm">
				<input
					type="text"
					placeholder="Search by name"
					formControlName="userFilter"
				/>
			</form>
			<ng-scrollbar class="custom-scrollbar">
				<ul>
					<li *ngFor="let user of (users$ | async)">
						<span class="status-circle" [ngClass]="{ online: user.is_online }"
							>&nbsp;</span
						>
						<a
							routerLink="/communications/private/{{ user.id }}"
							routerLinkActive="active"
						>
							{{ user.full_name }}
						</a>
						<span
							class="status-circle unseen-message-count"
							*ngIf="user.unseen_message_count"
						>
							{{ user.unseen_message_count }}
						</span>
					</li>
				</ul>
			</ng-scrollbar>
		</div>
	</div>
</div>
