<ng-template #accessDenied>
	<div class="person-container">
		<h2 class="tab-title access-denied">Access denied</h2>
		<p>Your access to this section is denied due to insufficient privileges.</p>
	</div>
</ng-template>

<div class="boxed">
	<div *ngIf="person && person.is_visible">
		<h1>
			<button type="button" class="back-button" (click)="navigateBack()">
				&lt; Back
			</button>
			<span>{{ person.full_name }}</span>
			<a routerLink="/communications/private/{{ person.id }}"
				>[ open communications ]</a
			>
		</h1>
		<mat-tab-group animationDuration="0ms">
			<mat-tab label="General information">
				<div class="person-container">
					<div>
						<h2 class="tab-title">General information</h2>
						<p *ngIf="person.title">Title: {{ person.title }}</p>
						<p>Birth year: {{ person.birth_year || 'Unknown' }}</p>
						<p>Age: {{ 542 - person.birth_year || 'Unknown' }}</p>
						<p>Home planet: {{ person.home_planet || 'Unknown' }}</p>
						<p>Citizen ID: {{ person.citizen_id || 'Unknown' }}</p>
						<p>Status: {{ person.status || 'Unknown' }}</p>
						<p>Current location: {{ person.ship?.name || 'Unknown / None' }}</p>
						<p>Social class: {{ person.social_class || 'Unknown' }}</p>
						<p>Religion: {{ person.religion || 'Unknown' }}</p>
						<p>Dynasty: {{ person.dynasty || 'Floater' }}</p>
						<p>Political party: {{ person.political_party || 'None' }}</p>
						<p>Military rank: {{ person.military_rank || 'None' }}</p>
						<p>Occupation: {{ person.occupation || 'Unknown' }}</p>
						<div *ngIf="permission.has('role:secret')">
							<h2>Classified personal file</h2>
							<p markdown ngPreserveWhitespaces>
								{{ person.secret_info || 'None' }}
							</p>
						</div>
						<div *ngIf="person.family && person.family.length">
							<h2>Known family members</h2>
							<ul class="family-members">
								<li *ngFor="let familyMember of person.family">
									<span *ngIf="familyMember.is_visible">
										<a routerLink="/personnel/{{ familyMember.id }}">{{
											familyMember.full_name
										}}</a>
										({{ familyMember._pivot_relation }})
									</span>
									<span *ngIf="!familyMember.is_visible">
										{{ familyMember.full_name }} ({{
											familyMember._pivot_relation
										}})
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Medical file">
				<div
					class="person-container"
					*ngIf="
						permission.has('role:medic') || currentUser.id === person.id;
						else accessDenied
					"
				>
					<h2 class="tab-title">Medical file</h2>
					<p>
						<span class="subtitle">Birth year:</span>
						{{ person.birth_year || 'Unknown' }}
					</p>
					<p>
						<span class="subtitle">Fitness level:</span>
						{{ person.medical_fitness_level || 'Unknown' }}
					</p>
					<p>
						<span class="subtitle">Last fitness check (year):</span>
						{{ person.medical_last_fitness_check || 'Unknown' }}
					</p>
					<p>
						<span class="subtitle">Blood type:</span>
						{{ person.medical_blood_type || 'None / Unknown' }}
					</p>
					<div class="subtitle-wrapper">
						<span class="subtitle">Allergies:</span>
						<p
							[innerHTML]="
								person.medical_allergies || 'None / Unknown' | markdown
							"
						></p>
					</div>
					<div class="subtitle-wrapper">
						<span class="subtitle">Active conditions:</span>
						<p
							[innerHTML]="
								person.medical_active_conditions || 'None / Unknown' | markdown
							"
						></p>
					</div>
					<div>
						<div class="subtitle-wrapper" *ngIf="medicalEntries.length">
							<span class="subtitle">Medical records:</span>
							<p
								markdown
								ngPreserveWhitespaces
								*ngFor="let entry of medicalEntries"
							>
								{{ entry.entry
								}}<span *ngIf="entry.added_by">
									- Added by {{ entry.added_by.full_name }}</span
								>
							</p>
							<p *ngIf="!medicalEntries.length">No medical records</p>
						</div>
					</div>
					<div class="add-entry-wrapper">
						<h2>Add medical record</h2>
						<div>
							<textarea trim="blur" #medicalEntryForm></textarea>
							<button (click)="saveEntry('MEDICAL')" [disabled]="isSubmitting">
								Save medical record
							</button>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Military file">
				<div
					class="person-container"
					*ngIf="
						permission.has('role:security') || currentUser.id === person.id;
						else accessDenied
					"
				>
					<h2 class="tab-title">Military file</h2>
					<p>
						<span class="subtitle">Rank:</span>
						{{ person.military_rank || 'Unknown' }}
					</p>
					<div class="subtitle-wrapper">
						<span class="subtitle">Remarks:</span>
						<p
							[innerHTML]="
								person.military_remarks || 'None / Unknown' | markdown
							"
						></p>
					</div>
					<p *ngIf="person.military_service_history">
						Service history: {{ person.military_service_history }}
					</p>
					<div class="subtitle-wrapper" *ngIf="militaryEntries.length">
						<span class="subtitle">Service history:</span>
						<p
							markdown
							ngPreserveWhitespaces
							*ngFor="let entry of militaryEntries"
						>
							{{ entry.entry
							}}<span *ngIf="entry.added_by">
								- Added by {{ entry.added_by.full_name }}</span
							>
						</p>
					</div>
					<div class="add-entry-wrapper">
						<h2>Add entry to service history</h2>
						<div>
							<textarea trim="blur" #militaryEntryForm></textarea>
							<button (click)="saveEntry('MILITARY')" [disabled]="isSubmitting">
								Save entry to service history
							</button>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Personal file">
				<div
					class="person-container"
					*ngIf="
						permission.has('role:security') || currentUser.id === person.id;
						else accessDenied
					"
				>
					<div *ngIf="personalEntries.length">
						<h2>Personal history</h2>
						<p
							markdown
							ngPreserveWhitespaces
							*ngFor="let entry of personalEntries"
						>
							{{ entry.entry
							}}<span *ngIf="entry.added_by">
								- Added by {{ entry.added_by.full_name }}</span
							>
						</p>
					</div>
					<div class="add-entry-wrapper">
						<h2>Add entry to personal history</h2>
						<div>
							<textarea trim="blur" #personalEntryForm></textarea>
							<button (click)="saveEntry('PERSONAL')" [disabled]="isSubmitting">
								Save entry to personal history
							</button>
						</div>
					</div>
					<p class="created-year">
						Data file creation year: {{ person.created_year || 'Unknown' }}
					</p>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
