@import '../../../variables';

.person-container {
	background: rgba(0, 0, 0, 0.3);
	padding: 8px;

	div {
		min-width: 400px;
	}

	textarea,
	button {
		min-width: 600px;
		display: block;
		font-size: 1.1em;
	}

	button {
		cursor: pointer;
	}

	textarea {
		min-height: 200px;
		resize: none;
		margin: 0;
		padding: 15px;
		margin-bottom: 10px;
		box-sizing: border-box;
	}

	p,
	.subtitle-wrapper,
	.family-members {
		font-family: $data-font;
		margin: 8px;
	}

	.padding {
		margin-left: 16px;
	}

	.created-year {
		margin-top: 20px;
		margin-bottom: 5px;
		font-style: italic;
		margin-left: 0;
	}

	li {
		margin-bottom: 5px;
	}

	.subtitle-wrapper {
		margin: 8px;
	}

	.subtitle {
		font-weight: bold;
	}

	.add-entry-wrapper {
		margin-top: 30px;
	}

	.tab-title {
		margin-bottom: 15px;
	}
}
h1 {
	display: flex;
	align-items: center;
}

h1 a {
	margin-left: 8px;
	font-size: 0.4em;
	text-decoration: none;
}
