table {
	width: 100%;
	padding-right: 15px;
}

td {
	padding: 6px;
}

th {
	text-align: left;
	padding: 6px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #02f6fe;
}

a:hover {
	color: #e0ff00;
}
