<div class="boxed">
	<h1>
		<span>Ship database</span
		><span class="total-souls" *ngIf="totalSouls"
			>Total souls alive: {{ totalSouls }}</span
		>
	</h1>
	<table class="dark-bg">
		<thead>
			<tr>
				<th>Ship</th>
				<th>Status</th>
				<th>Type</th>
				<th>Souls on board</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ship of fleet">
				<td>
					<a routerLink="/fleet/{{ ship.id }}">{{ ship.name }}</a>
				</td>
				<td>{{ ship.status }}</td>
				<td>{{ ship.type }}</td>
				<td>{{ ship.person_count || 0 }}</td>
			</tr>
			<tr *ngIf="totalSouls">
				<td></td>
				<td></td>
				<td></td>
				<td>
					<strong>{{ totalSouls }} total</strong>
				</td>
			</tr>
		</tbody>
	</table>
</div>
