form {
	/*	display: flex;
	flex-direction: column;
	max-width: 600px;*/
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 200px 250px;
		grid-template-rows: 40px 1fr;
		grid-template-areas: 'TITLE TYPE .' 'TEXTAREA TEXTAREA SUBMIT';
	}

	.post_text {
		grid-area: TEXTAREA;
		display: flex;
		flex-direction: column;
		padding-top: 15px;
	}
	.post_title {
		grid-area: TITLE;
		display: flex;
		flex-direction: column;
		padding-right: 15px;
	}
	.post_type {
		grid-area: TYPE;
		display: flex;
		flex-direction: column;
	}
	.post_sub {
		grid-area: SUBMIT;
		display: flex;
		flex-direction: column;
		flex-flow: column-reverse;
	}

	label {
		font-weight: bold;
		margin-top: 8px;
	}

	input {
		display: block;
	}

	textarea {
		height: 120px;
		resize: vertical;
	}

	button {
		margin: 0px 60px 0px 60px;
	}
}
