<div>
	<h2>{{ title }}</h2>
	<form [formGroup]="postForm" (ngSubmit)="onFormSubmit()">
		<label for="title">Title</label>
		<input type="text" placeholder="Title" id="title" formControlName="title" />
		<label for="type">Type</label>
		<select formControlName="type">
			<option *ngFor="let type of postTypes" [value]="type.value">{{
				type.text
			}}</option>
		</select>
		<label for="text">Text</label>
		<textarea id="text" formControlName="body"></textarea>
		<button type="submit">Submit</button>
	</form>
</div>
