<div class="wrapper">
  <app-object-details [feature$]="selectedFeature$" [onUnselect]="unselectFeature"></app-object-details>
  <app-grid-details [grid$]="selectedGrid$" [onUnselect]="unselectGrid"></app-grid-details>
  <app-ship-details [fleet$]="selectedFleet$" [onUnselect]="unselectFleet"></app-ship-details>
  <div class="map-actions">
    <button (click)="onZoomMap(1)">+</button>
    <button (click)="onZoomMap(-1)">-</button>
  </div>
  <div id="map" class="boxed"></div>
  <div id="popup" class="ol-popup" #popup>
    <div id="popup-content" #popupContent>
      <ul>
        <li *ngFor="let feat of clickedFeatures; let i = index">
          <span class="link" [ngClass]="{ 'is-scanned': feat.properties.is_scanned }"(click)="this.selectFeature(feat)"
            >{{ feat.properties.name_known || feat.properties.name_generated }} ({{feat.properties.celestial_body}})</span
          >
          <hr *ngIf="i + 1 !== clickedFeatures.length + (clickedFleet ? 1 : 0)"/>
        </li>
        <li *ngIf="clickedFleet">
          <span class="link fleet" (click)="selectFleet(clickedFleet)">Fleet ({{ clickedFleet.ships.length }} ship{{ clickedFleet.ships.length > 1 ? 's' : '' }})</span>
        </li>
      </ul>
    </div>
    <span
      id="popup-closer"
      class="ol-popup-closer link"
      (click)="this.closePopup($event)"
    ></span>
  </div>
</div>