@import '../../../variables';

.wrapper {
	position: relative;

	app-object-details,
	app-grid-details,
	app-ship-details {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 9999;
		max-width: 500px;
	}

	.map-actions {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 99999;
		display: flex;
		flex-direction: column;

		button {
			height: 50px;
			width: 50px;
			border-radius: 100%;
			margin-top: 6px;
			margin-left: 6px;
			background: linear-gradient(
				180deg,
				#010412 0%,
				#010412 45%,
				#011b2b 100%
			);
			border: 3px solid #006466;
			color: #fff;
			font-weight: bold;
			font-size: 1.2em;
			transition: background 0.15s, border 0.15s;
			box-shadow: none;
		}

		button:hover:enabled {
			border: 3px solid #00c5c8;
			background: #006466;
			transition: background 0.15s, border 0.15s;
		}

		button:focus {
			outline: none;
		}
		button::-moz-focus-inner {
			border: 0;
		}
	}
}

#map {
	width: 100%;
	height: 900px;
	margin: 0;
	padding: 0;
	background: #000;
}

// Map stuff mostly from https://openlayers.org/en/latest/examples/popup.html
.ol-popup {
	position: absolute;
	background: linear-gradient(180deg, #010412 0%, #010412 45%, #011b2b 100%);
	border: 3px solid #00c5c8;
	color: #fff;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	padding: 15px;
	border-radius: 10px;
	bottom: 12px;
	left: -50px;
	min-width: 320px;
	user-select: none;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 6px;
	}

	li {
		padding: 5px auto;

		span {
			cursor: pointer;
		}

		span.is-scanned {
			color: $success-color;
		}
	}

	li:last-child {
		padding: auto;
	}
}
.ol-popup:after,
.ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: #00c5c8;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: '✖';
}

.link {
	color: #02f6fe;
	font-weight: bold;
	transition: color 0.15s;
}

.link:hover {
	color: #e0ff00;
	transition: color 0.15s;
}

hr {
	margin: 5px auto;
}
