<div>
	<h2 id="velian-captains-log-title">GSS Darwin Captain’s log</h2>

	<p>
		<strong>SD 009 year 2290</strong><br />
		We managed to make a successful landing yesterday after experiencing a
		catastrophic failure throughout the control systems as a direct result of
		Oblivion computer virus that started spreading in the fleet eight days ago.
		We were unable to activate the cryo chambers and started experiencing male
		functions in multiple systems. Rest of the fleet didn’t seem to experience
		these problems and we can only hope they reach their final destination
		P-OC55-EL79. We managed to reach planet P-DE47-HC55 which was the fleet’s
		original target before Oblivion’s appearance. We identified a large
		construct that wasn’t visible through the clouds but scanners indicated it
		to be built and not formed by nature. During the descend to the planet we
		lost last of our controls but the ship held it’s course and we crashed not
		far from the construct. We managed to have a quick glimpse of the construct
		before the impact and it seemed to be a giant dome sheltering multiple
		buildings. We are investigating the structure tomorrow.
	</p>
	<p>
		<strong>SD 012 year 2290</strong><br />
		We have counted 517 people that survived the crash. Last critically wounded
		died last night but our doctors are optimistic that the rest of us will
		survive. The air is poisonous and the sandstorms make it difficult for us to
		move outside but we managed to send a team to investigate the structure.
		They returned with the information that the dome is penetrable by us but it
		keeps the sand and the poisonous gasses outside and during their stay they
		noticed an increase of oxygen levels within the dome. There are over hundred
		buildings within the dome forming a city built by some unknown civilization
		some of the buildings spread dozens of meters outside the dome but majority
		of the city is protected by that strange forcefield.
	</p>
	<p>
		<strong>SD 035 year 2290</strong><br />
		We have transferred a lot of our supplies to the dome, there is breathable
		air inside it and the buildings can sustain us. Many have already moved from
		the ship to the dome. It looks promising that we can survive here. Our
		rations will last several months and our engineers are already searching the
		constructs and they think it might be possible to grow more food. The dome
		seems to be uninhabited, however there are several buildings and underground
		spaces we haven’t been able to access yet.
	</p>
	<p>
		<strong>SD 067 year 2290</strong><br />
		Last of our survivors have left GSS Darwin and moved to the city, we found
		yesterday a strange very detailed and decorated door that is sealed tight.
		Our engineers are trying to open it. Many parts of the ship are damaged
		beyond repair and I have sealed off most of the ship. Only the old emergency
		compartment is fully operational. I will close off all the systems for now.
		It seems apparent that no one is coming back for us, but we keep up the
		hope. Our engineers keep trying to fix the emergency transmission, but we do
		not know if we can get it online or what frequency we should use.
	</p>

	<button (click)="close()">Close</button>
</div>
