table {
	width: 100%;
	padding-right: 15px;
}

tbody > tr:nth-child(odd) {
	background: #222;
}
tbody > tr:nth-child(even) {
	background: #333;
}

td {
	padding: 6px;
}

.button {
	float: right;
	font-size: 0.6em;
	margin-bottom: 8px;
}
