@import '../../../variables';

.dark-bg {
	margin-top: 15px;
}

span {
	font-size: 0.7em;
	float: right;
}

.voting-active {
	color: $bright-yellow;
}

.button {
	float: right;
	font-size: 0.6em;
	margin-bottom: 8px;
}

.is-voting-allowed {
	float: right;
	font-size: 16px;
	color: lighten($error-color, 30%);
}

.is-voting-allowed.is-allowed {
	color: lighten($success-color, 30%);
}

h3.span {
	font-size: 16px;
}