/* You can add global styles to this file, and also import other style files */
@import 'variables';

// Material styles for Material Tabs
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
	font-family: 'CutiveMono';
	src: url('assets/fonts/CutiveMono-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Exo';
	src: url('assets/fonts/Exo-Regular.woff') format('woff');
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: linear-gradient(180deg, #010412 0%, #010412 45%, #011b2b 100%);
	background-attachment: fixed;
	font-family: $data-font;
	color: #fff;
}
app-root {
	display: block;
	height: 100%;
	color: white;
}
a {
	color: $bright-blue;
	transition: color $transition-ms;
	text-decoration: none;
}
a:hover {
	color: $bright-yellow;
}
h1 {
	font-family: 'Exo';
	font-size: 30px;
}
h2 {
	font-family: 'Exo';
	font-size: 20px;
	margin-bottom: 10px;
}
h3 {
	font-family: 'Exo';
	font-size: 15px;
	margin: 0px;
}
.exo {
	font-family: 'Exo';
}
button,
.button {
	font-family: 'Exo';
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px $dark-blue;
	border: 2px solid $blue;
	padding: 5px;
	color: #fff;
}
.no-shadow {
	box-shadow: none;
}
button:hover,
.button:hover {
	transition-duration: $transition-ms;
	background: rgba(2, 246, 254, 0.2);
	box-shadow: 0px 0px 10px $dark-blue;
}
.button {
	text-decoration: none;
}

input[type='text'],
textarea {
	font-family: $data-font;
	font-size: 13px;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid $blue;
	padding: 4px;
	color: #fff;
}
input[type='text']:focus,
textarea:focus {
	outline: none;
	transition-duration: $transition-ms;
	box-shadow: 0px 0px 10px $dark-blue;
}

.outer-padding {
	padding: 10px 15px;
}
.boxed {
	padding: 15px;
	border: 3px solid $blue;
	background-image: url('assets/img/ui/liukuvari2.jpg');
	background-size: cover;
	background-attachment: fixed;
	box-shadow: 0px 0px 10px $dark-blue;
	hr {
		width: 100%;
		border: none;
		border-top: 2px solid $blue;
		margin: 0px;
	}
}

.post_author {
	font-weight: bold;
}
.post_body {
	background: rgba(0, 0, 0, 0.3);
	padding: 8px;
	margin: 5px 0px 0px 10px;
}

// Navmenu
.sidebar {
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin-right: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: $primary-font;

	a {
		padding: 15px 0;
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: bold;
		font-size: 13px;
		line-height: 16px;
		text-decoration: none;
		color: lighten($bright-blue, 20%);
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
		transition-duration: $transition-ms;

		img {
			margin-left: 8px;
			flex-shrink: 0;
			width: 50px;
			max-height: 50px;
			margin-right: 25px;
		}
	}

	.route-active {
		color: #fff;
	}

	a:hover {
		color: $bright-yellow;
		background-color: rgba(2, 246, 254, 0.2);
		img[alt='news'] {
			content: url('assets/img/ui/news_kelt.svg');
		}
		img[alt='comms'] {
			content: url('assets/img/ui/comms_kelt.svg');
		}
		img[alt='influence'] {
			content: url('assets/img/ui/influence_kelt.svg');
		}
		img[alt='shiplog'] {
			content: url('assets/img/ui/shiplog_kelt.svg');
		}
		img[alt='personnel'] {
			content: url('assets/img/ui/personnel_kelt.svg');
		}
		img[alt='artifact'] {
			content: url('assets/img/ui/artifact_database_kelt.svg');
		}
		img[alt='fleet'] {
			content: url('assets/img/ui/fleet_kelt.svg');
		}
		img[alt='captain'] {
			content: url('assets/img/ui/captain_kelt.svg');
		}
		img[alt='starmap'] {
			content: url('assets/img/ui/starmap_kelt.svg');
		}
		img[alt='logout'] {
			content: url('assets/img/ui/logout_red.svg');
		}
	}

	p {
		margin: 0px 0px 0px 15px;
		font-size: 13px;
	}
	p.user-name {
		cursor: pointer;
		margin-top: 8px;
		margin-bottom: 8px;
		font-size: 1em;
		color: $bright-yellow;
	}
}

.logout_b {
	a {
		color: #fff;
		height: 30px;
	}
	a:hover {
		color: #f00;
		cursor: pointer;
	}
	a > img {
		width: 50px;
		max-height: 25px;
		margin-right: 0px;
	}
}

/* Body scrollbar settigns */

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: transparent;
	box-shadow: inset 0 0 10px 10px rgba(2, 246, 254, 0.8);
	border: solid 5px transparent;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: transparent;
	box-shadow: inset 0 0 10px 10px rgba(2, 246, 254, 1);
}

::-webkit-scrollbar-track {
	background-color: #111;
}

::-webkit-scrollbar-track:hover {
	background-color: #111;
}

.ng-select {
	font-family: $data-font;
	font-size: 13px;
}
.ng-select-focused {
	outline: none;
	transition-duration: $transition-ms;
	box-shadow: 0px 0px 10px $dark-blue;
}
.ng-select:hover {
	box-shadow: 0px 0px 10px $dark-blue;
}
.ng-select .ng-select-container {
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid $blue;
	padding: 4px;
	min-height: 0px;
	border-radius: 0;

	.ng-value {
		color: #fff;
	}
}
.ng-select .ng-dropdown-panel {
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid $blue;

	.ng-dropdown-panel-items .ng-option {
		cursor: pointer;
		padding: 4px;
		color: #bbb;
	}

	.ng-dropdown-panel-items .ng-option:not(:last-child) {
		border-bottom: 1px dotted $blue;
	}

	.ng-dropdown-panel-items .ng-option:hover {
		background: #666;
		color: #fff;
	}
}

.ng-select .ng-select-container {
	color: $bright-blue !important;
}

.ng-select .ng-arrow-wrapper {
	width: 17px;
	box-sizing: border-box;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	vertical-align: middle;
	border-color: $bright-blue transparent transparent !important;
	border-style: solid !important;
	border-width: 5px 5px 2.5px !important;
}

.dark-bg {
	background: rgba(0, 0, 0, 0.3);
	padding: 8px;
}

.ngx-datatable {
	background: rgba(0, 0, 0, 0.3);
	padding: 8px;
}

// ngx-datatable pager
ul.pager {
	li.pages {
		a {
			padding: 10px;
			color: #fff;
		}
		a:hover {
			color: $bright-yellow;
		}
		font-size: 1.5em;
	}

	li.pages.active {
		a {
			color: $bright-blue !important;
		}
	}
}

.mat-tab-label {
	color: #fff;
}

// Material Tabs component active tab color override
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background: $bright-blue;
}

.mat-tab-label.mat-tab-disabled,
.mat-tab-link.mat-tab-disabled {
	color: #888;
	cursor: not-allowed;
}

// Starmap box closer
.box-closer {
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 1.2em;
	transition: color $transition-ms;
}
.box-closer:after {
	content: '✖';
}

.box-closer:hover {
	color: $bright-yellow;
}

.SUCCESS {
	background: #34df00;
}
.WARNING {
	background: #dfdf00;
}
.INFO {
	background: #0083df;
}
.ERROR {
	background: #df0024;
}

/* Material radio buttons */
.mat-radio-button {
	.mat-radio-outer-circle {
		border-color: darken($dark-blue, 10%) !important;
	}
	.mat-radio-inner-circle {
		background-color: darken($dark-blue, 10%) !important;
	}
	.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
		background-color: darken(#00c5c8, 20%);
	}
}
.mat-radio-button.mat-radio-checked {
	.mat-radio-outer-circle {
		border-color: $bright-blue !important;
	}
	.mat-radio-inner-circle {
		background-color: $bright-blue !important;
	}
}
.mat-radio-disabled {
	label {
		.mat-radio-label-content {
			color: #ccc !important;
		}
	}
}

/* Dialog styling */
mat-dialog-container {
	background: transparent !important;
	box-shadow: none !important;
}

/* Snackbar styling */
.log-entry-snackbar {
	background: linear-gradient(180deg, #010412 0%, #010412 45%, #011b2b 100%);
	border: 2px solid #00c5c8;
	padding: 0;
}

.cdk-overlay-0 .mat-snack-bar-container {
	padding: 0 !important;
}
