$transition-ms: 0.2s;
$bright-blue: #02f6fe;
$blue: #00c5c8;
$dark-blue: #00c6c1;
$bright-yellow: #e0ff00;

$success-color: #34df00;
$warning-color: #dfdf00;
$info-color: #0083df;
$error-color: #df0024;

// $data-font: 'CutiveMono';
$primary-font: 'Exo';
$data-font: 'Courier';
