<div class="boxed">
	<h1 *ngIf="!artifact">Artifact details</h1>
	<div *ngIf="artifact">
		<h1>{{ artifact.name }}</h1>
		<p><span class="subtitle">Catalog ID:</span> {{ artifact.catalog_id }}</p>
		<p><span class="subtitle">Artifact type:</span> {{ artifact.type }}</p>
		<p>
			<span class="subtitle">Artifact was discovered by:</span>
			{{ artifact.discovered_by }}
		</p>
		<p>
			<span class="subtitle">Time of discovery:</span>
			{{ artifact.discovered_at }}
		</p>
		<p>
			<span class="subtitle">Place of discovery:</span>
			{{ artifact.discovered_from }}
		</p>
		<p>
			<span class="subtitle">Description of the artifact:</span>
			<span markdown>{{ artifact.text }}</span>
		</p>
		<span class="subtitle">Additional entries:</span>
		<p markdown ngPreserveWhitespaces *ngFor="let entry of artifact.entries">
			{{ entry.entry
			}}<span *ngIf="entry.person">
				- Added by {{ entry.person.full_name }}</span
			>
		</p>
		<p *ngIf="!artifact.entries.length">
			No additional entries have been added.
		</p>
		<div class="add-finding-wrapper">
			<h2>Add a new entry</h2>
			<textarea #findingsTextArea></textarea>
			<button type="submit" (click)="onAddFindingsSubmit()">Add entry</button>
		</div>
	</div>
</div>
