.research-entry {
	margin-left: 10px;
	margin-bottom: 15px;
}
.finding-container {
	background: rgba(0, 0, 0, 0.3);
	padding: 4px;
}

textarea {
	width: 600px;
	min-height: 200px;
	display: block;
	margin-bottom: 8px;
	box-sizing: border-box;
	resize: none;
}

button {
	width: 600px;
	font-size: 1.1em;
}

.subtitle {
	font-weight: bold;
}

.add-finding-wrapper {
	margin-top: 18px;
}

.back-button {
	width: auto;
	font-size: inherit;
}

h1 {
	display: flex;
	align-items: center;
	font-family: 'Exo';
	font-size: 30px;
	margin-top: 8px;
	margin-bottom: 16px;
}
