<div class="boxed">
	<h1 *ngIf="!artifact">Artifact details</h1>
	<div *ngIf="artifact">
		<h1>{{ artifact.name }}</h1>
		<p><span class="subtitle">Artifact type:</span> {{ artifact.type }}</p>
		<p>
			<span class="subtitle">Discovered by:</span> {{ artifact.discovered_by }}
		</p>
		<p>
			<span class="subtitle">Discovered at:</span> {{ artifact.discovered_at }}
		</p>
		<p>
			<span class="subtitle">Discovered from:</span>
			{{ artifact.discovered_from }}
		</p>
		<p><span class="subtitle">Description:</span> {{ artifact.text }}</p>
		<span class="subtitle">Findings:</span>
		<p markdown ngPreserveWhitespaces *ngFor="let entry of artifact.entries">
			{{ entry.entry
			}}<span *ngIf="entry.person">
				- Added by {{ entry.person.full_name }}</span
			>
		</p>
		<p *ngIf="!artifact.entries.length">No entries</p>
		<div>
			<p class="exo subtitle">Add a new finding</p>
			<textarea #findingsTextArea></textarea>
			<button type="submit" (click)="onAddFindingsSubmit()">Submit</button>
		</div>
	</div>
</div>
