<div class="boxed">
	<h1>Artifact details</h1>
	<div *ngIf="artifact">
		<h2>{{ artifact.name }}</h2>
			<div *ngFor="let r of research; let i = index" class="research-entry">
				<span class="exo"
					>{{i+1}}. Discovery
					<span *ngIf="r.discoverer?.full_name"
						>by {{ r.discoverer.full_name }}</span
					>
					<span *ngIf="r.discovered_by">
						using {{ formatDiscoveredBy(r.discovered_by) }}
					</span>
					({{ r.discovered_ago }} ago):</span
				><div class="finding-container" markdown ngPreserveWhitespaces>
				{{ r.text }}</div>
			</div>
		<div>
			<p class="exo">Add a new note about artifact <strong>{{ artifact.name }}</strong></p>
			<textarea #findingsTextArea></textarea>
			<button type="submit" (click)="onAddFindingsSubmit()">Submit</button>
		</div>
	</div>
</div>
